interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bybit.com/v5/asset/coin/query-info
  response:
    body:
      string: '{"retCode": 10003, "retMsg": "API key is invalid.", "result": {}, "retExtInfo":
        {}, "time": 1780514555511}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ret_code:
      - '10003'
      Timenow:
      - '1780514555511'
      Traceid:
      - 5f4e8a9417708ee65685dd1b4a2801c6
      x-cld-src:
      - Loc-A
    status:
      code: 200
      message: OK
version: 1
