interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bybit.com/v5/asset/coin/query-info
  response:
    body:
      string: '{"retCode": 10003, "retMsg": "API key is invalid.", "result": {}, "retExtInfo":
        {}, "time": 1780514559862}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ret_code:
      - '10003'
      Timenow:
      - '1780514559862'
      Traceid:
      - 55b7acc685b7ea274db1990d29945566
      x-cld-src:
      - Loc-A
    status:
      code: 200
      message: OK
version: 1
