interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bybit.com/v5/asset/coin/query-info
  response:
    body:
      string: '{"retCode": 10003, "retMsg": "API key is invalid.", "result": {}, "retExtInfo":
        {}, "time": 1778056269269}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ret_code:
      - '10003'
      Timenow:
      - '1778056269269'
      Traceid:
      - 7814e5b9677e1bbd28e260c88ac7a329
      x-cld-src:
      - Loc-A
    status:
      code: 200
      message: OK
version: 1
