interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bybit.com/v5/asset/coin/query-info
  response:
    body:
      string: '{"retCode": 0, "retMsg": "success", "result": {"rows": [{"name": "[REDACTED]",
        "coin": "0G", "remainAmount": "500000000", "chains": [{"chainType": "BNB Smart
        Chain ", "confirmation": "60", "withdrawFee": "0.3", "depositMin": "0.009",
        "withdrawMin": "0.6", "chain": "BSC", "chainDeposit": "1", "chainWithdraw":
        "1", "minAccuracy": "8", "withdrawPercentageFee": "0", "contractAddress":
        "0x4B948d64dE1F71fCd12fB586f4c776421a35b3eE", "safeConfirmNumber": "60", "withdrawMax":
        "500000000"}, {"chainType": "Zero Gravity", "confirmation": "3", "withdrawFee":
        "0.5", "depositMin": "0.009", "withdrawMin": "1", "chain": "ZEROGRAVITY",
        "chainDeposit": "1", "chainWithdraw": "1", "minAccuracy": "8", "withdrawPercentageFee":
        "0", "contractAddress": "", "safeConfirmNumber": "10", "withdrawMax": "500000000"}]},
        {"name": "[REDACTED]", "coin": "1INCH", "remainAmount": "1000000", "chains":
        [{"chainType": "Ethereum", "confirmation": "6"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bybit.com/v5/market/instruments-info?category=spot
  response:
    body:
      string: '{"retCode": 0, "retMsg": "OK", "result": {"category": "spot", "list":
        [{"symbolId": 9, "symbol": "BTCUSDT", "baseCoin": "BTC", "quoteCoin": "USDT",
        "innovation": "0", "status": "Trading", "marginTrading": "utaOnly", "stTag":
        "0", "lotSizeFilter": {"basePrecision": "0.000001", "quotePrecision": "0.0000001",
        "minOrderQty": "0.000001", "maxOrderQty": "230", "minOrderAmt": "5", "maxOrderAmt":
        "8000000", "maxLimitOrderQty": "230", "maxMarketOrderQty": "120", "postOnlyMaxLimitOrderSize":
        "1150"}, "priceFilter": {"tickSize": "0.1"}, "riskParameters": {"priceLimitRatioX":
        "0.005", "priceLimitRatioY": "0.01"}, "symbolType": "", "xstockMultiplier":
        "1"}, {"symbolId": 10, "symbol": "ETHUSDT", "baseCoin": "ETH", "quoteCoin":
        "USDT", "innovation": "0", "status": "Trading", "marginTrading": "utaOnly",
        "stTag": "0", "lotSizeFilter": {"basePrecision": "0.00001", "quotePrecision":
        "0.0000001", "minOrderQty": "0.00001", "maxOrderQty": "2600", "minOrderAmt":
        "5", "maxOrderAmt": "7000000", "maxLimitOrderQty": "2600", "maxMarketOrderQty":
        "1300", "postOnlyMaxLimitOrderSize": "13000"}, "priceFilter": {"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bybit.com/v5/market/instruments-info?category=linear&limit=1000
  response:
    body:
      string: '{"retCode": 0, "retMsg": "OK", "result": {"category": "linear", "list":
        [{"symbol": "0GUSDT", "contractType": "LinearPerpetual", "status": "Trading",
        "baseCoin": "0G", "quoteCoin": "USDT", "launchTime": "1758175736000", "deliveryTime":
        "0", "deliveryFeeRate": "", "priceScale": "4", "leverageFilter": {"minLeverage":
        "1", "maxLeverage": "50.00", "leverageStep": "0.01"}, "priceFilter": {"minPrice":
        "0.0001", "maxPrice": "1999.9998", "tickSize": "0.0001"}, "lotSizeFilter":
        {"maxOrderQty": "350000.0", "minOrderQty": "0.1", "qtyStep": "0.1", "postOnlyMaxOrderQty":
        "350000.0", "maxMktOrderQty": "70000.0", "minNotionalValue": "5"}, "unifiedMarginTrade":
        true, "fundingInterval": 240, "settleCoin": "USDT", "copyTrading": "both",
        "upperFundingRate": "0.01", "lowerFundingRate": "-0.01", "isPreListing": false,
        "preListingInfo": null, "riskParameters": {"priceLimitRatioX": "0.15", "priceLimitRatioY":
        "0.3"}, "displayName": "", "symbolType": "", "forbidUplWithdrawal": false,
        "symbolId": 2449}, {"symbol": "1000000BABYDOGEUSDT", "contractType": "LinearPerpetual",
        "status": "Trading", "baseCoin": "1000000BABYDOGE", "quoteCoin": "USDT", "launchTime":
        "1718105652000", "deliveryTime": "0", "deliveryFeeRate": "", "priceScale":
        "7", "leverageFilter": {"minLeverage": "1", "maxLeverage": "25.00", "leverageStep":
        "0.01"}, "priceFilter": {"minPrice": "0.0000001", "maxPrice": "1.9999998",
        "tickSize": "0.0000001"}, "lotSizeF[...]
